<p>Re: Maskin A</p>
<p>Sender: Nisla-Nisse &lt;nini@maskiner.nordpolen.np&gt;</p>

<p>Hej och tack igen för att du ställer upp med att installera, ställa in och starta maskinerna!</p>
<p>Vi har fått nya, moderna julklappsmaskiner för i år. Men tyvärr vet ingen riktigt hur de ska konfigureras.
Som tur är är de byggda så att de stänger av sig själva om någonting är felinställt.
Dock tycker jag att instruktionen lite oklar... Men jag litar på att du som expert klarar av det galant!</p>
<div></div>
<p>PS. Jag misstänker att det finns en "dold" instruktion. Testa högerklick->sidkälla kanske? DS.</p>

<div></div>

<div style='font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;'>
    <p>Tack för köpet av ÖVERRASKNING julklappsmaskin A!</p>
    <p>För att göra er upplevelse så trevlig som möjligt, var god följ instruktionerna exakt. Om någon inställning skulle vara fel känner regulatorn av det och maskinen stängs av igen. Riktig julmagi alltså!</p>

    <ul>
        <li>Ställ ledstjärna till 4.</li>
        <li>Ställ stjärnpositionen till de två sista siffrorna i maskinens serienummer.</li>
        <li style="display: none">Varvtal till 78.</li>
        <li>Tryck på knapp märkt START!</li>
    </ul>

</div>