<p>Re: Maskin B</p>
<p>Sender: Nisla-Nisse &lt;nini@maskiner.nordpolen.np&gt;</p>

<p>Hej igen!</p>
<p>Den här maskinen ska tydligen vara ännu lite mer avancerad. Och ännu lite knepigare att ställa in korrekt såklart...</p>
<p>Hur som helst. Nisse-Nisse på IT slarvade tyvärr lite och råkade skicka en del av instruktionerna till dig och andra delar av instruktionen till andra medhjälpare som inte är du...
    Men som man säger här på nordpolen "det man inte klarar själv klarar man tillsammans" - och det tror jag helhjärtat på!</p>
<p>Jag tipsar om att skriva och fråga de andra som är här om hjälp för det här går nog inte alls att klara på egen hand!</p>
<p>Lycka till!!</p>
<div></div>
<p>PS. Det verkar som om instruktionerna har splittats upp i tre olika delar, om det nu skulle vara till någon hjälp... DS.</p>

<div></div>

<div style='font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;'>
    <p>Tack för köpet av ÖVERRASKNING julklappsmaskin B som i BADASS!</p>
    <p>För att göra er upplevelse så trevlig som möjligt, var god följ instruktionerna exakt. Om någon inställning skulle vara fel känner regulatorn av det och maskinen stängs av igen. Riktig julmagi alltså!</p>

    <ul>
    {{#group0}}
        <li>Slädeshastigheten ska ställas till 102 kiloprinskorvslängder/timme</li>
        <li>Det finns sju korvar</li>
        <li>Om serienumret slutar på 5 eller 7, ställ skorstenssmörjningsnivå till 5 + 7</li>
    {{/group0}}


    {{#group1}}
        <li>Tre enigheten</li>
        <li>Det finns en gömd instruktion på felsidan</li>
        <li>Om något du sett tidigare inte hjälper och ditt serienummer slutar på 2 eller 1, ställ skorstenssmörjningsnivå till 2 * 11</li>
    {{/group1}}


    {{#group2}}
        <li>Julmusttryck till summan av korvarna och julstjärnorna, delat med pepparkakorna</li>
        <li>Det finns tio pepparkakor</li>
        <li>Om något du sett tidigare inte hjälper, ställ skorstenssmörjningsnivå till 24, lol! #yolo</li>
    {{/group2}}
    </ul>

</div>