<p>Re: Maskin C</p>
<p>Sender: Nisla-Nisse &lt;nini@maskiner.nordpolen.np&gt;</p>

<p>Hej en tredje gång!</p>
<p>Här har vi crème-de-la-crème när det kommer till julklappsmaskiner! Julklappsmaskinernas egna royce-royce eller Rolls-Royce eller vad det nu heter.</p>
<p>Svindyr och superkomplicerad. Nu får ni verkligen hjälpas åt för att klara det här! Men jag tror att ni klarar det! Ni är bäst!
<p>Verkar också som om några instruktioner kommer flera gånger och vissa instruktioner verkar vara fel och/eller saknas. Undrar vad det kan handla om... </p>
<p>Lycka till och tänk på hur glada barnen kommer att bli!</p>
<div></div>
<p>PS. Att gissa rätt kombination tar i bästa fall jättelite tid men i värsta fall jättemycket tid DS.</p>

<div></div>

<div style='font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;'>
    <p>Tack för köpet av ÖVERRASKNING julklappsmaskin C som i CRAY-CRAY!</p>
    <p>För att göra er upplevelse så trevlig som möjligt, var god följ instruktionerna exakt. Om någon inställning skulle vara fel känner regulatorn av det och maskinen stängs av igen. Riktig julmagi alltså!</p>
    <div></div>
    <p>Särskild instruktion för maskin typ C: Det är så splitterny att vi gjort lite olika iterationer av manualen och lite gamla delar kom med. Tyvärr saknas också vissa korrekta instruktioner. Men ni kan nog lägga ihop ett och ett och lösa det ändå!</p>

    <ul>
        {{#group0}}
            <li>Stjärnstångsmoment till 3</li>
            <!-- TODO: remove <li>Stjärnstångsmoment till 23</li> DET ÄR DENNA! -->
            <li>Stjärnstångsmoment till 17</li>
            <li>Stjärnstångsmoment till 19</li>
            <li>Lite oklart till och med för oss hur man ställer in direktivet, men det verkar ha med serienumrena att göra. Sorry.</li>
            <li>Sen får man väl bara gissa bränsle helt enkelt!</li>
        {{/group0}}


        {{#group1}}
            <li>Stjärnstångsmoment till 2</li>
            <li>En Helig natt per paket</li>
            <li>Stjärnstångsmoment till 7</li>
            <li>Stjärnstångsmoment till 29</li>
            <li>Sen måste man addera sista siffran i maskinens serienummer för att få julandenivån.</li>
        {{/group1}}


        {{#group2}}
            <li>Stjärnstångsmoment till 13</li>
            <li>Stjärnstångsmoment till 5</li>
            <li>För att räkna ut julandenivån, ta de två första siffrorna i serienumrena och addera alla unika.</li>
            <li style="display:none;">Stjärnstångsmoment till 11</li>
        {{/group2}}
    </ul>

</div>