{{> gameheader}}

Spelen startar 17 december.

Under tiden, varför inte välja en emoji till dig själv?

<form action="/emoji" method="post">
    <select name="emoji">
    {{#emojis}}
        <option value="{{.}}">{{.}}</option>
    {{/emojis}}
    </select>
    <input type="submit" value="Välj!">
</form>

{{> gamefooter}}