{{> gameheader}}

<div style="color:white;">
Spelen startar 18 december.
</div>
<div style="color:white;">
Under tiden, varför inte välja en emoji till dig själv?
</div>

<form action="/emoji" method="post">
    <select name="emoji">
    {{#emojis}}
        <option value="{{.}}">{{.}}</option>
    {{/emojis}}
    </select>
    <input type="submit" value="Välj!">
</form>

{{> gamefooter}}