{{> gameheader}}

Spelen startar 17 december.

Under tiden, varför inte välja en emoji till dig själv?

<form action="emoji" method="post">
    <select name="emoji">
        <option value="🎅">🎅</option>
        <option value="🎅">🎅</option>
        <option value="🤶">🤶</option>
        <option value="🦌">🦌</option>
        <option value="🦌">🦌</option>
        <option value="🌟">🌟</option>
        <option value="❄">❄</option>
        <option value="☃">☃</option>
        <option value="⛄">⛄</option>
        <option value="🎄">🎄</option>
        <option value="🎁">🎁</option>
        <option value="🕯️">🕯️</option>
        <option value="🎶">🎶</option>
        <option value="🔔">🔔</option>
    </select>
    <input type="submit" value="Välj!">
</form>

{{> gamefooter}}