{{> gameheader}}

<iframe tabindex="1" src="/santachemistry/mini.html" style="width: 800;height: 600;border-style: hidden;overflow: hidden;overflow-y: hidden;overflow-x: hidden;" scrolling="no">
</iframe>

{{> gamefooter}}