{{> gameheader}}

{{! Det här är ett riktigt härk, mycket är halvdött och kvar från det tidigare laddningssättet. 
Kan troligen ta bort en del.}}

<div class="webgl-content">
      <div id="unityContainer" style="width: 640px; height: 480px">
          {{!
          <div class="progress Dark" style="display: none;">
              <div class="empty" style="width: 100%;"></div>
              <div class="full" style="width: 0%;"></div>
          </div>
          }}
      </div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="unity-fullscreen-button"></div>
      </div>
</div>
{{!<script src="/webgl/day4/TemplateData/UnityProgress.js"></script> }}
<script>
      {{! Change here for which day}}
      var gameDir = "/webgl/day4";

      {{! Don't change this }}
      var buildUrl = gameDir + "/Build";
      var templateUrl = gameDir + "/TemplateData";
      var loaderUrl = buildUrl + "/UnityLoader.js";
      var progressUrl = templateUrl + "/UnityProgress.js";
      var unityCSS = templateUrl + "/style.css";

      {{! Change here for whatever your build is called, it's the only .json file }}
      var unityJson = buildUrl + "/julspel1_webgl.json";


      var container = document.querySelector("#unityContainer");
      var fullscreenButton = document.querySelector(".unity-fullscreen-button");

      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        container.className = "unity-mobile";
        config.devicePixelRatio = 1;
      } else {
        container.style.width = "640px";
        container.style.height = "480px";
      }

      var script1 = document.createElement("script");
      script1.src = progressUrl;
      document.body.appendChild(script1);

      var script = document.createElement("script");
      script.src = loaderUrl;
      script.onload = () => {
        
        var unityInstance = UnityLoader.instantiate(container, unityJson, {
          onProgress: UnityProgress,
          Module: {
            onRuntimeInitialized: function () {
                var can = document.querySelector("#unityContainer canvas");
                can.tabIndex = "1"; 
               }
            }
          });

        fullscreenButton.onclick = () => {
          unityInstance.SetFullscreen(1);
        };

      };      
      document.body.appendChild(script);
</script>

{{> gamefooter}}