{{> gameheader}}

<iframe tabindex="1" src="/fladdertomten/mini.html" style="width: 640;height: 480;border-style: hidden;overflow: hidden;overflow-y: hidden;overflow-x: hidden;" scrolling="no">
</iframe>

{{> gamefooter}}