<h2>Välkomna in i värmen!</h2>

<div class="story-verse">
    <p>Än sofva tomdtarna i halmstråh</p>
    <p>Tyst äro nordthpolens fabrik - ej edth endhaste knysdt i någon wråh.</p>
</div>

<h3>Snart sätter allt igång!</h3>
<p>Tomtarna sover fortfarande.</p>
<p>Kom tillbaka den 17:e december för att hjälpa till i tomtens verkstad! Genom att lyckas med uppgifterna samlar ni stjärnor. Samlar man en stjärna per dag får man en julklapp!</p>
<p>Under tiden kan du prata med de andra som är här. Och varför inte passa på att ändra din emoji?</p>
<p>Vi ses snart!</p>
