<h2>18e December</h2>

<div class="story-verse">
    <p>Tomtharna gingo ur sin dvahla</p>
    <p>Å sadte igång sidt stretdande för åhrets julklappsupplaga</p>
</div>

<h3>Dags att starta verkstaden för årets julklappsupplaga!</h3>
<p>Maskinerna måste sättas igång för att kunna göra alla julklappar som behövs.</p>
<p>Manualer till maskinerna finns här nedan men ni måste samarbeta för att lyckas med de lite knepigare maskinerna. Använd chatten vetja!</p>
<p>PS. Gå in på din profil (uppe i vänsta hörnet) och ändra din emoji!</p>
<p>PPS. Det finns en full chattlogg <a href="/longchat">här.</a></p>
<a href="/manuals/manualA" target="_blank" style="color: lightgreen; margin-top: 2px; margin-bottom: 2px;">Manual till maskin A</a>
<a href="/manuals/manualB" target="_blank" style="color: lightgreen; margin-top: 2px; margin-bottom: 2px;">Manual till maskin B</a>
<a href="/manuals/manualC" target="_blank" style="color: lightgreen; margin-top: 2px; margin-bottom: 2px;">Manual till maskin C</a>
