<h2>Julafton -7</h2>

<div class="story-verse">
    <p>Tomtharna gingo ur deras dvahla</p>
    <p>Å sadte igång sidt stretdande för åhrets julklappsupplaga</p>
</div>

<h3>Dags att starta verkstaden!</h3>
<p>Maskinerna måste sättas igång för att kunna göra alla julklappar som behövs!</p>
<p>Ni måste samarbeta för att lyckas med de lite knepigare maskinerna.</p>
<p>Den medhjälpare som samlar stjärnor varje dag belönas med en julklapp. Ju fler stjärnor desto bättre!</p>
<a href="/manuals/manualA" target="_blank" style="color: lightgreen; margin-top: 2px; margin-bottom: 2px;">Manual till maskin A</a>
<a href="/manuals/manualB" target="_blank" style="color: lightgreen; margin-top: 2px; margin-bottom: 2px;">Manual till maskin B</a>
<a href="/manuals/manualC" target="_blank" style="color: lightgreen; margin-top: 2px; margin-bottom: 2px;">Manual till maskin C</a>

