<h2>Julafton -5</h2>

<div class="story-verse">
    <p>En wärldsohmspännande tragedi</p>
    <p>Nordthpolen skall räddas medthelst Julmagi!</p>
</div>

<h3>Coronaviruset har nått Nordpolen!</h3>
<p>Nu är det bråttom! Covid-19 ska inte få sabba julen för världens barn - och inte för någon annan heller.</p>
<p>Besegra så mycket av viruset du kan innan det kommer innanför murarna till nordpolen.</p>
<p>Kom ihåg att den medhjälpare som samlar stjärnor varje dag belönas med en julklapp. Idag är nog din insats extra viktig!</p>
