<h2>19e December</h2>

<div class="story-verse">
    <p>En wärldsohmspännande tragedi</p>
    <p>Nordthpolen skall räddas medthelst Julmagi!</p>
</div>

<h3>Coronaviruset är på väg mot Nordpolen!</h3>
<p>Nu är det bråttom! Covid-19 ska inte få sabba julen för världens barn - och inte för någon annan heller.</p>
<p>Besegra så mycket av viruset du kan innan det kommer in i portalen till nordpolen!</p>
<br/>
<br/>
<p>Btw, dagens musik är gjord av Alex McCulloch.</p>
