<h2>Julafton -4</h2>

<div class="story-verse">
    <p>En julgåfva warde sendt</p>
    <p>Denna heliga fjärdhe Adwent!</p>
</div>

<h2>Blanda vaccin</h2>
<p>Phew! Det var riktigt nära ögat igår men vårt inre försvar lyckades som tur var bota viruset innan det kunde ställa till skada.</p>
<p>Nordpolens styrelse har dock en fantastisk ny idé: vi kan hjälpa världen genom att blanda och distribuera vaccin till alla behövande.</p>
<p>Med världens i särklass snabbaste produktionstakt och distributionssystem lär det gå lätt som en plätt!</p>
<p>Det första steget är att blanda ett vaccin. Det gör vi idag!</p>