<h2>Dan före dan före dan före dopparedan</h2>

<div class="story-verse">
    <p>Tankespriddha wordo de lärdha</p>
    <p>Ack vad de flinka fingo uthärdha!</p>
</div>

<h2>Vaccinlogistik</h2>
<p>Medicinlabbet må vara duktiga men de kan vara nog så tankspridda ibland. Vad har de hittat på den här gången undrar du? Jo när de gjorde klart vaccinet dumpade de det helt enkelt på gården för oss lägre stående nissar att hämta upp.</p>
<p>Nåja de kanske var trötta efter allt labbande och vaccinblandande. Eller en smutt glögg för mycket. Men med snabba ben och ett glatt humör kan vi samla ihop vaccinen igen!</p>
<p>Men skynda dig - snart är det jul!</p>
