<h2>Dan före dan före dopparedan</h2>
<div class="story-verse">
    <p>Rudolph wältra sig hem</p>
    <p>Med skald varje lem!</p>
</div>

<h2>Rudolph Race</h2>
<p>Tomtens ledstjärna Rudolph är fortfarande på väg hem från semestern.</p>
<p>Hjälp honom att komma hem så att han kan leda Tomten och de andra renarna och vara en ledstjärna i den mörka natten under vaccindistributionen!</p>

<br/>
<br/>
<p>Btw dagens musik är gjord av <a href="https://opengameart.org/users/genaralskar">genaralskar</a> och är licenserad under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a></p>