<h2>Dan före dopparedan</h2>
<div class="story-verse">
    <p>Tomdthen så ensam där sthå</p>
    <p>Men detta ska wäl ändå gå!</p>
</div>

<h2>Fladdertomten</h2>
<p>Tyvärr gick portalen som Rudolph hoppade in igenom helt fel. Till ett parallellt universum till och med. Synd!</p>
<p>Som tur är har tomten och nissarna förberett för en sådan händelse och utrustat tomten med en fladderdräkt.</p>
<p>Hjälp tomten dela ut vaccinet till allas skorstenar. Han är lite ovan vid fladderdräkten...</p>