<h2>Doppare-doomsday</h2>
<div class="story-verse">
    <p>Ack och veh!</p>
    <p>Blandningen war fehl!</p>
</div>

<h2>Corona zombies</h2>
<p>Äsch! Vaccinet var felblandat! (Har containrarna med zombiehuvuden vi hittade med detta att göra?????)</p>
<p>Hur som helst har alla tyvärr blivit zombies och måste tyvärr skjutas.</p>
<p>Hjälp de andra nissarna att rätta till era misstag och befria julen från coronazombierna!</p>
