table.chat {
    width: 100%;
    border: 2px black solid;
    overflow-x:scroll;
}

td.message {
    border: 1px blue solid;
    padding: 4px;
}


.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("/img/wooden-boards.jpg");
    background-size: auto 100%;
    margin-left: 5px;
}

.chat-messages-container {
    flex:1;
    padding: 0px 5px 0px 5px;
}

.chat-messages-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

.chat-message-from-user {
    word-break: break-word;
    color: white;
    background-color: rgb(75 52 16 / 40%);
    margin-top: 6px;
    padding: 2px;
}

.chat-message-login {
    font-size: 14px;
    color: white;
    font-style: italic;
    background-color: rgb(75 52 16 / 40%);
    margin-top: 6px;
    padding: 2px;
}

.chat-message-completed-challenge {
    font-weight: bold;
    color: lightgreen;
    background-color: rgb(75 52 16 / 40%);
    margin-top: 6px;
    padding: 2px;
}



.chat-send-message-container {
    display:flex;
    flex-direction:row;
}

.chat-message-input {
    flex: 1;
    height:30px;
}