a {
    text-decoration: none;
}

p {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    }

h2 {
    margin-block-start: 0.5em;
    margin-block-end: 0.83em;}

body {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.main-wrapper {
    min-height:100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    background-image: url("/img/christmas-background.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.main-content-vertical-pad {
    flex:1;
}


form {
    margin: 0px;
}

.footer-container {
    background-color: #663300;
    color:  white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    margin-left: 5px;
}

.footer-right {
    margin-right: 5px;
}

a.footer-link {
    color: lightgreen;
}