a {
    text-decoration: none;
}

body {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    background-image: url("/img/christmas-background.jpg");
    background-size: 100%;
}

.main-container {
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.main-content-left-pad {
    flex: 1;
}


.game-container {
    background-color: rgb(47,47,47);
}

form {
    margin: 0px;
}

/* Can probably make this part cleaner but i suck at css */
.top-row-container {
    display: flex;
    flex-direction: row;
    background-color: forestgreen;
}

.top-row-user {
    flex: 1;
    color: white;
    background-color: forestgreen;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.top-row-day {
    flex: 1;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: black;
}

.top-row-day.top-row-day-current {
    background-color: darkgreen;
}

.top-row-day.top-row-day-unavailable:hover {
    background: firebrick;
}

a.top-row-day-link {
    flex: 1;
    text-align: center;
}

a.top-row-day-link:hover {
    background-color: mediumseagreen;
}