.user-wrapper {
    flex: 1;
    background-image: url("/img/christmas-background.jpg");
    background-size: 100%;
    padding: 50px;
    display flex;
    flex-direction: column;
    align-items: center;
}

.user-container {
    flex: 1;
    background-image: url("/img/fabric.png");
    padding: 50px;
    display flex;
    flex-direction: column;
}

.user-day-stars {
    margin-bottom: 10px;
}