<div class="chat-container">

    <div class="chat-messages-wrapper">
        <div class="chat-messages-container" id="chat-messages-container">

        </div>
    </div>

    <form class="form">

        <div class="chat-send-message-container">
            <input type="text" id="chat-message-input" class="chat-message-input" placeholder="Skriv något...">
            <button id="chat-send" type="submit">Skicka</button>
        </div>
    </form>

    <script>
        var username="{{username}}";
        var chatHistory = [
        {{#chatHistory}}
            {
                "username": "{{username}}",
                "numStars": "{{numStars}}",
                "content": "{{content}}",
                "type": "{{type}}"
            },
        {{/chatHistory}}
        ];
    </script>
    <script src="/js/chat.js"></script>

</div>