{{> header}}

<h1>ERROR ERROR Nåt gick fel!!</h1>

<!-- OBS! Ta ej bort denna, den hör till ett spel!-->
<p style="display: none">Det finns åtta julstjärnor</p>
<p style="display: none">Julgröt är en mycket bra energikälla. Särskilt med en klick smör i!</p>

{{> footer}}