            <div class="footer-container">
                <div class="footer-left">Powered by Team Kugel, friends & family 💪</div>
                {{#user}}
                <div class="footer-right"><a class="footer-link" href="/leaderboard">Topplista</a></div>
                {{/user}}
        </div>
    </body>
</html>