{{> header}}
{{> toprow}}

<script>
    var user = {
        "username": "{{user.username}}",
        "id": {{user.id}}
    }

</script>
<div class="main-container">
    <div class="main-content-vertical-pad"> </div>
    <div class="main-columns">
        <div class="main-content-left-pad"> </div>
        <div class="game-container">