<html>
    <head>
        <title>Julspelet - {{title}}</title>
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/login.css" rel="stylesheet">
        <link href="/css/toprow.css" rel="stylesheet">
        <link href="/css/chat.css" rel="stylesheet">
        <link href="/css/game.css" rel="stylesheet">
        <link href="/css/user.css" rel="stylesheet">
        <link href="/css/story.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎁</text></svg>">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/sockjs.min.js"></script>
        <script src="/js/stomp.min.js"></script>
        <script src="/js/game.js"></script>

    </head>
    <body>

        <div class="main-wrapper">