{{> header}}
{{> toprow}}

<table style="flex:1;">
    <thead>
    <tr>
        <td>Namn</td>
        <td>Stjärnor</td>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td><a href="/user/{{username}}">{{username}}</a></td>
            <td>{{numStars}}⭐</td>
        </tr>
    {{/users}}
    </tbody>
</table>

{{>footer }}