{{> header}}

<h1>{{title}}</h1>

<form action="login" method="post">
    <div><label> User Name : <input id="login-username-input" type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<script>
    $("#login-username-input").focus();
</script>

{{> footer}}