{{> header}}


<div class="login-wrapper">

    <div class="login-container">
        <div class="login-header">Det Episka Julspelet</div>

        <div class="login-form-container">
            <form action="login" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td class="login-right-adjust">Användarnamn</td>
                            <td><input id="login-username-input" type="text" name="username"/></td>
                        </tr>
                        <tr>
                            <td class="login-right-adjust">Lösenord</td>
                            <td><input type="password" name="password"/></td>
                        </tr>
                    </tbody>
                </table>
                {{#error}}
                    <div class="login-error">Fel lösenord eller användarnamn. Eller så gick något helt annat fel...</div>
                {{/error}}
                <div class="login-submit-container"><input type="submit" value="Sign In"/></div>
            </form>
        </div>

    </div>

</div>

<script>
    $("#login-username-input").focus();
</script>

{{> footer}}