<script>
{{#activeDay}}
    var activeDay="{{.}}";
{{/activeDay}}
{{^activeDay}}
    var activeDay = null;
{{/activeDay}}
    var numStars="{{user.completedChallenges.size}}";
</script>

<div class="top-row-container">
    <a class="top-row-item-link" href="/user/{{user.username}}">
        <div class="top-row-item top-row-item-white">{{user.emoji}} {{user.username}}({{user.completedChallenges.size}}⭐) </div>
    </a>
    {{#topRowDays}}
        {{#current}}
            <div class="top-row-item top-row-item-current">{{title}}</div>
        {{/current}}
        {{^current}}
            {{#available}}
                <a class="top-row-item-link" href="/game?day={{number}}">
                <div class="top-row-item">
                    {{title}}
                </div>
                </a>

            {{/available}}
            {{^available}}
                <div class="top-row-item top-row-item-unavailable">🔒 {{title}}</div>
            {{/available}}
        {{/current}}
    {{/topRowDays}}

</div>
