{{> header}}
{{> toprow}}

<div class="user-container">
    <h1>{{inspectedUser.username}}</h1>

    {{#inspectedUser.completedChallenges.isEmpty}}
        <h2>{{inspectedUser.username}} Har inte klarat någon dag :'(</h2>
    {{/inspectedUser.completedChallenges.isEmpty}}
    {{^inspectedUser.completedChallenges.isEmpty}}
        <h2>{{inspectedUser.username}} har klarat följande dagar:</h2>
        <ul>
        {{#inspectedUser.completedChallenges}}
            <li>Dag {{day}} ⭐</li>
        {{/inspectedUser.completedChallenges}}
        </ul>
{{/inspectedUser.completedChallenges.isEmpty}}

</div>

{{> footer}}
